@model IEnumerable<APP.Models.ManageUserViewModel>
@{
    ViewBag.Title = "ManageUsers";
}

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">
                    <h4 class="text-center">Manage users</h4>
                    <table class="table">
                        <tr>
                            <th>
                                Users
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                    
                                </td>
                                <td>
                                    @if (User.IsInRole("Global administrator"))
                                    {
                                        @Html.ActionLink("Add a role", "AddRoleToUser", "Admin", new { id = item.Id }, null) 
                                        <span>|</span>
                                    }

                                     @Html.ActionLink("Details", "UserDetails", "Admin", new { id = item.Id }, null)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
