@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="container-fluid pt-5">
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card shadow">
            <div class="card-body mx-auto">
                <h1 class="text-danger text-center">Error!</h1>
                <h2>Something went wrong</h2>
                @if(Model.Exception.Message.Contains("dangerous"))
                    {
                    <h3 class="text-danger text-center">

                        A potential dangerous request!!!

                    </h3>
                    }
                
               
                    
                    
            else 
                {<h3 class="text-danger text-center">
                @if (Model != null)
                            {@Model.Exception.Message }
                            else
                            { @ViewBag.errorMessage}
                 </h3> }
                
            </div>
        </div>
    </div>
</div>
</div>


