@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">
                    <hgroup>
                        <h1 class="text-danger text-center">Locked out.</h1>
                        <h2 class="text-danger text-center">This account has been locked out, please try again later.</h2>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>


