
@{
    ViewBag.Title = "PageNotFound";
}

<<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-body mx-auto">
                    <h1 class="text-danger text-center">Error!</h1>
                    <h2 class="text-danger text-center">Sum ting wong</h2>
                    <h3 class="text-danger text-center">Page you are looking for was not found, please check the URL.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
