@model IEnumerable<APP.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid content-row mt-1">
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-2">
                <div class="row">
                    <div class="card flex-fill h-auto">
                        <a href="@Url.Action("Details", "Movie", new { id = movie.Id })">
                            <img class="card-img-top" alt="List View" height="250vh" width="20rem" src="@Url.Content($"~/Images/{@movie.MovieImagePath}")">
                        </a>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text">@movie.MovieName</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

