@{
    ViewBag.Title = "Confirm Email";
}





<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <h2 class="text-center pt-2">E-mail confirmed!</h2>
                <div class="card-body mx-auto">
                    <div>
                        <p class="text-center">
                            Thank you for confirming your email.
                        </p>
                        <p class="text-center">
                            @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





