@model IEnumerable<APP.Models.UserMovie>
@{
    ViewBag.Title = "FavouriteMovies";
}

<div class="container-fluid content-row mt-1">
    <div class="row">
        <div class="col d-flex align-items-stretch">
            @foreach (var movie in Model)
            {
                // moram podesiti izgled, nije dobro
                <div class="card col-md-2 bg-dark">

                    <img class="card-img-top" alt="List View" height="250vh" width="20rem" src="@Url.Content($"~/Images/{@movie.Movie.MovieImagePath}")">

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p class="card-text text-white">@movie.Movie.MovieName</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @using (Html.BeginForm("DeleteFavouriteMovie", "Movie", new { id = movie.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })                                              
                                        <div class="form-actions">
                                            <input type="submit" value="X" class="btn btn-default  btn-danger float-right" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   
            }
        </div>
    </div>
</div>
